* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 1px solid white;
}

#menu {
  color: white;
  position: absolute;
  width: 1200px;
  height: 600px;
}

.instructions {
  margin-top: 5px;
  color: white;
  text-align: center;
}
